[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.11.8"

[packages]
matplotlib = "*"
plotly = "*"
typing-extensions = "*"
pandas = "*"
dash = "*"
dash-bootstrap-components = "*"
scipy = "*"
hydra-core = "*"
hydra-joblib-launcher = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy-redshift = "*"
mit-rail-sim = {editable = true, path = "."}
pathlib = "*"
string-charts = {file = "string_charts", editable = true}
folium = "*"
geopandas = "*"
jupyterlab = "*"
kaleido = "*"
rich = "*"
pre-commit = "*"

[dev-packages]
nbformat = "*"
jupyter-dash = "*"
sweetviz = "*"
sphinx = "*"
sphinx-book-theme = "*"
pytest = "*"
pytest-cov = "*"
ipykernel = "*"
rope = "*"
fitter = "*"
sphinxcontrib-bibtex = "*"
sphinx-autobuild = "*"
tabulate = "*"
pylint = "*"
