[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python_version = "3.8"

[packages]
matplotlib = "*"
aiologger = "*"
aiofiles = "*"
plotly = "*"
typing-extensions = "*"
pandas = "*"
dash = "*"
install = "*"
dash-bootstrap-components = "*"
scipy = "*"
hydra-core = "*"
fitter = "*"
hydra-joblib-launcher = "*"
sqlalchemy = "*"
python-dotenv = "*"
psycopg2-binary = "*"
sqlalchemy-redshift = "*"
sweetviz = "*"
pykml = "*"
fiona = "*"
folium = "*"
pycausalimpact = "*"
nbformat = "*"
seaborn = "*"
keplergl = "*"
pyperclip = "*"
jupyter-dash = "*"
mit-rail-sim = {editable = true, path = "."}
pandas-profiling = "*"
ydata-profiling = "*"
sphinx = "*"
sphinx-book-theme = "*"

[dev-packages]
black = "==22.3.0"
flake8 = "*"
isort = "*"
mypy = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
pycycle = "*"
pylama = {extras = ["all"], version = "*"}
tabulate = "*"
openpyxl = "*"
ipykernel = "*"
